{% extends 'template.html.twig' %}
{% block body %}
    <div id="contentChapters" class="content contentData">
        <!-- begin row -->
        <div class="row">
            <!-- begin col-8 -->
            <div class="col-xl-6">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <!-- begin table-responsive -->
                    <div class="table-responsive">
                        <table id="chapters" class="table table-condensed table-bordered">
                            <thead>
                            <div class="row">
                                <tr class="col-12">
                                    <th class="col-1">Id</th>
                                    <th class="col-2">Nom</th>
                                    <th class="col-1">Date</th>
                                    <th class="col-1">Durée</th>
                                    <th class="col-1">Sujet</th>
                                </tr>
                            </div>
                            </thead>
                            <tbody>
                            {% for exam in exams %}
                                <tr onclick="" id="{{ exam.id }}">
                                    <td>{{ exam.id}}</td>
                                    <td>{{ exam.name }}</td>
                                    <td>{{ exam.date|date("d/m/Y") }}</td>
                                    <td>{{ exam.duration }}</td>
                                    <td>{{ exam.subject }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
            <div class="col-6">
                <div class="panel panel-inverse">
                    <!-- begin table-responsive -->
                    <div class="table-responsive">
                        <table id="questions" class="table table-condensed table-bordered">
                            <thead>
                            <div class="row">
                                <tr class="col-12">
                                    <th class="col-1">Niveau</th>
                                    <th class="col-1">Thème</th>
                                    <th class="col-1">Sujet</th>
                                    <th class="col-1">Chapitre</th>
                                    <th class="col-1">Sous-chapitre</th>
                                    <th class="col-3">Question</th>
                                    <th class="col-2">Réponse</th>
                                    <th class="col-1">Point</th>
                                    <th class="col-1">Modification</th>
                                </tr>
                            </div>
                            </thead>
                            <tbody>
                            {% for question in questions %}
                                <tr>
                                    <td>{{ question.level }}</td>
                                    <td>{{ question.theme }}</td>
                                    <td>{{ question.subject }}</td>
                                    <td>{{ question.chapter }}</td>
                                    <td>{{ question.subChapter }}</td>
                                    <td>{{ question.question }}</td>
                                    <td>{{ question.answer }}</td>
                                    <td>{{ question.points}}</td>
                                    <td><button class="btn btn-theme btn-aqua">Editer</button></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
                <!-- end panel -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->
{% endblock %}
