{% extends 'template.html.twig' %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <script>alert("{{ flashMessage }}")</script>
    {% endfor %}
    <div id="contentQuestions" class="content contentData">
        <!-- begin row -->
        <div class="row">
            <!-- begin col-8 -->
            <div class="col-xl-12">
                <!-- begin panel -->
                <button id="addQuestion" data-toggle="modal" class="btn btn-lg btn-aqua" onclick="displayNewQuestion()">Ajout</button>
                <div class="panel panel-inverse">
                    <!-- begin table-responsive -->
                    <div class="table-responsive">
                        <table id="data-table-rowreorder" class="table table-striped table-bordered table-td-valign-middle data-re dataTables_filter">
                            <thead>
                                <tr class="col-12 ">
                                    <th class="col-1">Niveau</th>
                                    <th class="col-1">Thème</th>
                                    <th class="col-1">Sujet</th>
                                    <th class="col-1">Chapitre</th>
                                    <th class="col-1">Sous-chapitre</th>
                                    <th class="col-3">Question</th>
                                    <th class="col-2">Réponse</th>
                                    <th class="col-1">Point</th>
                                    <th class="col-1">Modification</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for question in questions %}
                                <tr class="odd gradeX">
                                    <td>{{ question.level }}</td>
                                    <td>{{ question.theme }}</td>
                                    <td>{{ question.subject }}</td>
                                    <td>{{ question.chapter }}</td>
                                    <td>{{ question.subChapter }}</td>
                                    <td>{{ question.question }}</td>
                                    <td>{{ question.answer }}</td>
                                    <td>{{ question.points}}</td>
                                    <td><button class="btn btn-theme btn-aqua" data-toggle="modal" onclick="displayEditQuestion({{ question.id }})"> Editer</button></td>
                                    <td><a  href="{{ path('delete_question', {'id': question.id}) }}"><button class="btn btn-theme btn-black" data-toggle="modal"> Delete</button></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
        </div>
    </div>
    <div class="row">
        <div id="editQuestionModal" class="modal fade col-6 offset-3"></div>
        <div id="newQuestionModal" class="modal fade col-6 offset-3">{{ form(newForm) }} <button class="btn btn-aqua btn-close" onclick="hideNewQuestion()">Fermer</button></div>
    </div>

    <!-- end #content -->
{% endblock %}

